# Ignore PDFs
*.pdf

# Ignore Word documents
*.doc
*.docx

# Ignore ZIP files
*.zip

# Ignore Excel files
*.xls
*.xlsx 

# Ignore PowerPoint files
*.ppt
*.pptx

# Ignore text files
*.txt   

# Ignore images
*.jpeg